<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alip.zy.tools">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        android:fullBackupContent="false">
        <activity android:name="com.alip.zy.view.activity.HomeActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
            android:configChanges="orientation|keyboardHidden|navigation|keyboard"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.alip.zy.viewanimation.ViewAnimation" />
        <activity android:name=".ScreenSize" />
        <activity android:name="com.alip.zy.layoutanimation.LayoutAnimation" />
        <activity android:name="com.alip.zy.textpackage.PaoMaDeng" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- 接受以"http://recipe-app.com/recipe"开头的URI -->
                <data android:scheme="http"
                    android:host="recipe-app.com"
                    android:pathPrefix="/recipe" />
            </intent-filter>
        </activity>
        <activity android:name=".FilesTestActivity" />
        <activity android:name=".TabViewPagerTest" />
        <activity android:name=".NotificationActivity" />
        <activity android:name="com.alip.zy.tabTest.TabLayoutActivity">

        </activity>
    </application>

</manifest>
